h1 Welcome to Sportsball!
p Predincting the outcome of matches since 2015

= link_to "Manage Teams", teams_path
| &nbsp;|&nbsp;
= link_to "Manage Games", '/games_admin/games'
| &nbsp;|&nbsp;
= link_to "Predict on outcome!", new_prediction_path
